{% extends "foodieshoot/layout.html" %}{% load static %}
<!-- prettier-ignore -->
{% block headeradds %}{% endblock headeradds %}


<!-- prettier-ignore -->
{% block content %}
<br>
<div class="container">
    <h1 class="font-buk">Changing password <span style="color: red; font-size: 50px">...</span></h1>
</div>
<br>
<div class="jumbotron">
    <h1>An email with instructions has been sent to reset your password</h1>
</div>
<br>{% endblock content %}



<!-- prettier-ignore -->
{% block footer %}{% include "foodieshoot/footer.html" %}{% endblock footer %}


<!-- prettier-ignore -->
{% block scripts %}{% endblock scripts%}