{% extends "foodieshoot/layout.html" %}{% load static %}
<!-- prettier-ignore -->
{% block headeradds %}{% endblock headeradds %}


<!-- prettier-ignore -->
{% block content %}
<br>
<div class="container">
    <h1 class="font-buk">All done <span style="color: red; font-size: 50px">!</span></h1>
</div>
<br>
<div class="jumbotron">
    <h1>Your password has been reset.</h1>
    <a href="{% url 'fs-signin' %}" class="btn btn-lg bg-cust hv-inv-red-blk" role="button">
        <span><b>Sign In</b></span>
    </a>
</div>
<br>{% endblock content %}



<!-- prettier-ignore -->
{% block footer %}{% include "foodieshoot/footer.html" %}{% endblock footer %}


<!-- prettier-ignore -->
{% block scripts %}{% endblock scripts%}