{% extends "foodieshoot/layout.html" %}{% load static %}
<!-- prettier-ignore -->
{% block headeradds %}{% endblock headeradds %}


<!-- prettier-ignore -->
{% block content %}
<br>
<div class="container">
    <h1 class="font-buk">Sad to see you go <span style="color: red; font-size: 50px">...</span></h1>
</div>
<br>
<div class="jumbotron">
    <h3 class="font-buk">Come back anytime!</h3>
</div>
<br><br>{% endblock content %}



<!-- prettier-ignore -->
{% block footer %}{% include "foodieshoot/footer.html" %}{% endblock footer %}


<!-- prettier-ignore -->
{% block scripts %}{% endblock scripts%}