{% extends "foodieshoot/layout.html" %}{% load static %}
<!-- prettier-ignore -->
{% block headeradds %}{% endblock headeradds %}


<!-- prettier-ignore -->
{% block content %}

<div class="conatiner">
    <h1 class="font-buk" style="position: absolute; bottom: 25%; left: 46.25%; color: white; font-size: 50px">500</h1>
    <img src="{% static 'foodieshoot/images/500.jpg' %}" alt="" width="100%" height="100%">
</div>
{% endblock content %}



<!-- prettier-ignore -->
{% block footer %}{% include "foodieshoot/footer.html" %}{% endblock footer %}


<!-- prettier-ignore -->
{% block scripts %}{% endblock scripts%}