{% extends "foodieshoot/layout.html" %}{% load static %}
<!-- prettier-ignore -->
{% block headeradds %}{% endblock headeradds %}


<!-- prettier-ignore -->
{% block content %}
<br>
<div class="container">
    <h1 class="font-buk">Want to know more about us <span style="color: red; font-size: 50px">?</span></h1>
</div>
<br>
<div class="jumbotron">
    <h3 class="font-buk">Here's us</h3>
</div>
<br><br><br><br> <br><br><br><br>{% endblock content %}



<!-- prettier-ignore -->
{% block footer %}{% include "foodieshoot/footer.html" %}{% endblock footer %}


<!-- prettier-ignore -->
{% block scripts %}{% endblock scripts%}