{% extends "foodieshoot/layout.html" %}{% load static %}
<!-- prettier-ignore -->
{% block headeradds %}{% endblock headeradds %}


<!-- prettier-ignore -->
{% block content %}
<br>
<div class="container">
    <h1 class="font-buk">Here are our terms <span style="color: red; font-size: 50px">...</span></h1>
</div>
<br>
<div class="jumbotron">
    <h2 class="font-buk">
        <a  class="text-danger" data-toggle="collapse" data-target="#terms">Terms and conditions</a>
    </h2>
    <div class="container collapse" id="terms">
        <br><br>
        <p>
            I declare for the purposes of Article 13 of the General Data Protection Regulation (EU) 2016/679 of P.E. and the Council of 27th of April (GDPR) to hereby provide my consent for the processing of my personal data by CIBER.
        </p>
        <p>
            I have read and accept the <a href="#privacy-cond">Privacy and Data protection policy</a> and authorize CIBER to:
            <ul>
                <li>
                    Provide my data, without prejudice to its confidentiality, ensuring its use according to the corporate purpose of this organization and compatible with the purposes of collection. The data transmitted to CIBER is incorporated and processed in a file of CIBER's resposability, with the sole purpose of managing
                    the services requested by the user, in order to comply with the applicable legal requirements.
                </li>
            </ul>
        </p>
        <br>
        <p>
            I authorize the processing of said data and accept access to it by CIBER employees who develop any of the activities necessary for the provision and promotion of the serviçe
        </p>
        <p>
            I am aware that I am free to choose whether or not to provide the requested information and to authorize its treatmen when submitting a duly completed form. 
        </p>
        <p>
            I accept that by not providing all the requested information, CIBER may not provide me with the service, sell the product or achieve the correct functioning of some present and/or future functionalities on the portal, as well as the effectiveness of a subsquent submission, for data processing, concultation or contact.
        </p>
        <p>
            I am aware that I have the right to withdraw my consent at any time, without compromising the lawfulness of the treatment carried out based on the consent previously given.
        </p>    
    </div>
</div>
<br><br>
<div class="jumbotron" id="privacy-cond">
    <h2 class="font-buk">
        <a class="text-danger" data-toggle="collapse" data-target="#privacy">Privacy Policy</a>
    </h2>
    <div class="container collapse" id="privacy">
        <br><br>
        <ol type="A" class="font-weight-bold list-group">
            <li class="list-group-item">
                A. Introduction:<br>
                <span class="font-weight-normal">
                    <p>
                        <ol type="1">
                            <li>
                                <p>
                                    The privacy of visitors to our website or app is very important to us, and we are commited to protecting it.
                                    This policy explains what we will do with your personal information
                                </p>
                            </li>
                            <li>
                                <p>
                                    Consenting to the use of cookies in accordance with the terms of thispolicy when you access our website for the first time allows us to use cookies every time you access our site
                                </p>
                            </li>
                        </ol>
                    </p>
                </span>
            </li><br>
            <li class="list-group-item">
                B. Credits:<br>
                <span class="font-weight-normal">
                    This document was created using a SEQ Legal template (seqlegal.com) modified by Website Planet (<a href="www.websiteplanet.com">www.websiteplanet.com</a>)
                </span>
            </li><br>
            <li class="list-group-item">
                C. Collection of personal information:<br>
                <span class="font-weight-normal">
                    The following types of personal information can be collected, stored and used:
                    <p>
                        <ol type="1">
                            <li>
                                information about your visits and use of this website, including reference source, duration of visit, page views and navigation paths on the website;
                            </li>
                            <li>
                                information such as your e-mail address and name, that you may enter when you register or purchase on our website;
                            </li>
                            <li>information you enter when using the services on our website;</li>
                            <li>information that you post on our website with the intention of posting it on the internet, including your username and form information;</li>
                            <li>information contained in any communications you send to us via email or through our website, including the content and metadata of the communication;</li>
                            <li>any other personal information you send us.</li>
                        </ol>
                    </p>
                    Before disclosing another person's personal information to us, you must obtain that person's consent to the disclosure and processing of that personal information in accordance with this policy.
                </span>
            </li><br>
            <li class="list-group-item">
                D. Use of your personal information: <br>
                <span class="font-weight-normal">
                    Personal information sent to us through our website will be used for the purposes specified in this policy or on the relevant pages of the website. We may use your personal information for the following:
                    <p>
                        <ol type="1">
                            <li>administer our website and our business;</li>
                            <li>customize our website for you;</li>
                            <li>enable the use of the services available on our website;</li>
                            <li>send food posts saved and posted by you</li>
                            <li>send email notifications specifically requested by you;</li>
                            <li>deal with questions and complaints made by or about you regarding our website;</li>
                            <li>keep our website safe and prevent fraud;</li>
                        </ol>
                    </p>
                    <p>Without your express consent, we will not provide your personal information to third parties for the purposes of direct marketing by them or third parties.</p>
                </span>
            </li><br>
            <li class="list-group-item">
                E. Disclosure of personal information: <br>
                <span class="font-weight-normal">
                    <p>We may disclose your personal information to any of our employees, suppliers or as reasonably necessary for the purposes set out in this policy.
                    </p>
                    <p>
                        We may disclose your personal information:
                        <ol type="1">
                            <li>insofar as we are required to do so by law;</li>
                            <li>in relation to any ongoing or potential lawsuit;</li>
                            <li>o establish, exercise or defend our legal rights (including providing information to third parties for the purpose of preventing fraud and reducing credit risk);</li>
                            <li>to the buyer (or potential buyer) of any business or asset that we are selling (or contemplating selling);</li>
                            <li>to any person we reasonably believe can request a court or other competent authority to disclose that personal information, when, in our reasonable opinion, it is likely that such court or authority will order the disclosure of that personal information.</li>
                        </ol>
                    </p>
                    <p>
                        Except as provided in this policy, we will not provide your personal information to third parties.
                    </p>
                </span>
            </li><br>
            <li class="list-group-item">
                F. International data transfers:
                <br>
                <span class="font-weight-normal">
                    <ol type="1">
                        <li>Personal information that you post on our website or send for publication on our website may be available, via the internet, worldwide. We cannot prevent the use or misuse of such information by third parties.</li>
                        <li>You expressly agree to the transfers of personal information described in this section F.</li>
                    </ol>
                </span>
            </li><br>
            <li class="list-group-item">
                G. Retention of personal information:
                <br>
                <span class="font-weight-normal">
                    <p>
                        <ol type="1">
                            <li>This section G defines our data retention policies and procedures, designed to help ensure that we comply with our legal obligations in relation to the retention and deletion of personal information.</li>
                            <li>The personal information we process for any purpose or purposes should not be kept any longer than is necessary for that purpose or purposes.</li>
                            <li>All your personal data will be stored for as long as your account is active, once you proced to the termination of said account, all your personal data will be feleted from our website.<li>
                        </ol>
                    </p>
                </span>
            </li><br>
            <li class="list-group-item">
                H. Security of your personal information:
                <br>
                <span class="font-weight-normal">
                    <p>
                        <ol>
                            <li>We will take appropriate technical and organizational precautions to prevent the loss, misuse or alteration of your personal information.</li>
                            <li>We will store all of your personal information provided on our secure servers (password and firewall protected).</li>
                            <li>You acknowledge that the transmission of information over the internet is inherently insecure and that we cannot guarantee the security of data sent over the internet.</li>
                            <li>You are responsible for keeping the password used to access our website confidential; we will not ask for your password (except when you log in to our site).</li>
                        </ol>
                    </p>
                </span>
            </li><br>
            <li class="list-group-item">
                I. Changes: <br>
                <span class="font-weight-normal">
                    <p>
                        We may update this policy periodically by posting a new version on our website. You should check this page occasionally to ensure that you understand any changes to this policy. We can notify you of changes to this policy by email or through the private messaging system on our website.
                    </p>
                </span>
            </li><br>
            <li class="list-group-item">
                J. Your rights:
                <br>
                <span class="font-weight-normal">
                    <p>
                        We may retain the requested personal information to the extent permitted by law.
                    </p>
                    <p>
                        You may decide at any time to not accept this policy, at which point your account and all your personal data will be cleared.
                </span>
            </li><br>
            <li class="list-group-item">
                K. Third party sites:
                <br>
                <span class="font-weight-normal">
                    <p>
                        Our website includes links to third party websites. We have no control over and are not responsible for the privacy policies and practices of third parties.
                    </p>
                </span>
            </li><br>
            <li class="list-group-item">
                L. Updating information:
                <br>
                <span class="font-weight-normal">
                    <p>
                        Please let us know if the personal information we hold about you needs to be corrected or updated.
                    </p>
                </span>
            </li><br>
            <li class="list-group-item">
                M. Cookies:
                <br>
                <span class="font-weight-normal">
                    <p>
                        Our website uses cookies. A cookie is a file that contains an identifier (a sequence of letters and numbers)
                        which is sent by a web server to a browser and stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server. Cookies can be “persistent” cookies or “session” cookies:
                        a persistent cookie will be stored by a browser and will remain valid until the date of defined expiration, unless deleted by the user before the expiration date;  a session cookie, on the other hand, will expire at the end of the user's session, when the browser is closed. Cookies do not normally contain any information
                        that personally identifies a user, but the personal information we store about you may be linked to information stored and obtained from cookies.
                    </p>
                </span>
            </li><br>
        </ol>
        <p>
            CIBER assumes no responsibility and advises you to consult legal experts if you are implementing the above model on its website.
        </p>
    </div>
</div>

<br><br>
{% endblock content %}



<!-- prettier-ignore -->
{% block footer %}{% include "foodieshoot/footer.html" %}{% endblock footer %}


<!-- prettier-ignore -->
{% block scripts %}{% endblock scripts%}
